html, body {
	height: 100%;
	padding-top: 25px; 
	overflow-x: hidden;
	background-color: rgb(135, 54, 0);
}
.cell{
	color: rgb(180,180,180);
	flex: 0 0 40rem;
	height: 20rem;
	padding: 5px;
	
	display: flex;
}
.innercell{
	background-color: rgba(0,0,0,.3);
	width: 100%;
	height:100%;
	display: flex;
	border: solid black 1px;
	border-radius: 2px;
}

.contentpage{
	visibility: hidden;
	height:100%;width:100%;
	z-index:0;
	position: absolute;
	right:0%;
}
.background{
	background-image:url('images/home.jpg');
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 0;
	background-size: cover;
}
.portfolio_obj{
	color: rgb(180,180,180);
	width: 50%;height:100%;padding:5px;
}
