@import url('https://fonts.googleapis.com/css?family=Wire+One');
html,body{
	font-family: "Wire One";
}
#title{
	height: 350px;
	top: 50%;
	left:50%;
	position: absolute;
	width: 90%;
	transform: translateX(-50%) translateY(-50%);
	transition:ease-in-out 0.9s all;
	
}
#owl{
	transition:ease-in-out 0.5s all;
	transform: translate(35%,0px);
}
#title:hover #owl{
	transform: translate(484px,0px);
}
#myname{
	display: none;
}
.ready{
	cursor: pointer;
	transition: ease-in-out all 0.3s;
}
.ready:hover #owl{

	fill:rgb(65, 151, 77);
}
.loading{
}
#loadingText{
	font-size: 4em;
	position: fixed;
	top: 50%;
	left: 50%;
	transform:translate(-50%,-100%);
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

.fade-slow-enter-active, .fade-slow-leave-active {
  transition: opacity .9s;
}
.fade-slow-enter, .fade-slow-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}


#menuTitle{
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-110%);
	font-size: 10em;
	width:15rem;
	border: solid black 1px;
	margin: 0;
	text-align: center;
	box-sizing: border-box;
	transition: ease-in-out all 0.3s;
}
#menuTitle:hover{
	border: black dashed 1px;
}
#menuItems{
	top: 50%;
	left: 50%;
	position: fixed;
	transform: translate(-50%,-50%);
	display: flex;
	justify-content: space-between;
	width:15rem;
}
.menuItem{
	box-shadow: inset 0px 0px 0px 5em black;
	transition: ease-in-out all 0.3s;
	width: 4em;
	text-align: center;
	display: block;
}
.menuItem:hover{
	font-size: 2em;
	box-shadow: none;
}